.field{
    border-style: solid;
    border-width: 2px;
    border-color: black;
    height: 623px;
    width: 933px;
    position: absolute;
    left: 10px;
    top: 10px;
    
}
.field div{
    height: 30px;
    width: 30px;
}

.field .resource{
    background-color: #999999;
}

.field .transport{
    background-color: #CCCCCC;
}

.field .killed{
    background-color: black;
}

.field .base.player1{
    background-color: #78088D;
    background-image: url(images/base.png);
}

.field .base.player2{
    background-color: #337700;
    background-image: url(images/base.png);
}

.field .base.player3{
    background-color: #000021;
    background-image: url(images/base.png);
}

.field .base.player4{
    background-color: #997700;
    background-image: url(images/base.png);
}

.field .transport.captured.player1{
    background-color: #BF70D3;
}

.field .transport.captured.player2{
    background-color: #66FF44;
}

.field .transport.captured.player3{
    background-color: #0088AA;
}

.field .transport.captured.player4{
    background-color: #992200;
}

.field .resource.captured.player1{
    background-color: #662277;
}
.field .resource.captured.player2{
    background-color: #33CC22;
}

.field .resource.captured.player3{
    background-color: #001199;
}

.field .resource.captured.player4{
    background-color: #994400;
}






.info{
    position: absolute;
    left: 1000px;
    top: 10px;
    color:white;
    font-weight: bold;
    font-size:20px;
    border: 1px 1px 1px 1px;
}

.users{
    position: absolute;
    left: 1000px;
    top: 200px;
    color:white;
    
    font-size:16px;
}

.actions{
    position: absolute;
    left: 1000px;
    top: 400px;
}

.actions a{
    width: 200px;
    color:#428bca;
    background-color: white;
    border-color: white;
}

.fon{
    background: #1397FF;    
}


.test textarea{
    width: 400px;
    height: 500px;
}



.box{
    display: inline-block;
    width: 160px;
    height: 150px;
    background: url(images/boxsis.png);
}

.box span{
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.page{
    width: 950px;
    height: 1300px; 
    margin-left: 200px;
    margin-top: 50px;
    background: #1397FF;; 
}

.player{
    width: 100px;
    height: 100px;
}

.blue{
    background: blue;
}

.red{
    background: red;
}