
<head>
     <link href="static/styles.css" rel="stylesheet" type="text/css">
     <link href="static/css/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta charset="UTF-8">
</head>
<body class="fon">
    
    <div class="field">
        <div class="">
        </div>
    </div>
    
    <div class="info">
        <p>
            Money
            <span class="money">1000</span>
        </p>
        <p>
            Speed
            <span class="speed">10</span>
        </p>
    </div>
    
    <div class="users">
        <p>Игроки в комнате</p>
        <p class="content"></p>
        
    </div>
    
       
    <div class="actions">
        <p>
          <a class="btn btn-primary btn-large ready">
            Играть!!!
          </a>
        </p>
        <p>
          <a class="btn btn-primary btn-large bot">
              Добавить бота!
          </a>
        </p>
        
    </div>
    
    <script type="text/JavaScript" src="static/jquery-1.11.0.min.js"></script>
    <script type="text/JavaScript" src="static/main.js"></script>
    <script type="text/JavaScript" src="static/jquery.cookie.js"></script>
    <script type="text/JavaScript" src="static/js/bootstrap/bootstrap.min.js"></script>
</body>
