<html>
    <head>
        <title>Profile</title>
        <meta charset="UTF-8">
        <link href="static/styles.css" rel="stylesheet" type="text/css">
        <link href="static/css/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
    <body class="page">
            <h1>Hello {{ username }} </h1>
            
            <div>
                {% set k=0 %}
                {% for room in rooms %}
                    <a href="?action=book&&room={{ k }}">
                        <div class="box">
                            <span>{{ room }}</span>
                        </div>
                    </a>
                {% set k=k+1 %}
                {% end if %}
            </div>
            <script type="text/JavaScript" src="static/js/bootstrap/bootstrap.min.js"></script>
    </body>
</html>